@media screen and (max-width: 1200px) {
    .container {
        width: 90vw;
    }
}
@media screen and (max-width: 991px) {
    .advantages__item {
        width: 210px;
    }
    .carousel {
        .container {
            width: 70vw;
        }
        &__wpapper {     
            img {
                width: 70vw;
            }
        }
        .slick-prev {
            left: -20%;
        }
        .slick-next {
            right: -20%;
        }
    }
}
@media screen and (max-width: 767px) {
    .header__official {
        display: none;
    }
    .advantages__item {
        width: 150px;
        &:last-child {
            .advantages__text {
                margin-top: 45px;
            }
        }
    }
    .catalog__tab {
        font-size: 15px;
    }
    .review {
        .title {
            margin-bottom: 35px;
        }
        &__item {
            flex-direction: column;
            align-items: center;
            img {
                margin: 0 0 20px 0;
            }
        }
        &__author {
            text-align: center;
            &-achiv {
                text-align: center;
            }
        }
    }
    .footer {
        &__info {
            width: 60vw;
            height: 250px
        }
    }
}
@media screen and (max-width: 575px) {
    .header {
        &__logo {
            width: 160px;
        }
        a {
            font-size: 13px;
            line-height: 15px;
        }
        .button {
            width: 120px;
            height: 25px;
            font-size: 10px;
        }
    }
    .promo {
        min-height: 480px;
        padding: 20px 0;
        background: url(../img/bg/promo_bg.jpg) center center/cover no-repeat;
        &__header {
            text-align: right;
            font-size: 30px;
            margin-top: 20px;
        }
        &__subheader {
            text-align: right;
            font-size: 20px;
            margin-top: 0;
        }
        &__icons-wrapper {
            gap: 0px;
            margin-top: 20px;
        }
        &__icon {
            width: 95px;
            &-text {
                font-size: 12px;
            }
        }
    }
    .button_promo {
        margin-top: 20px;
        width: 250px;
    }
    .advantages {
        padding: 40px 0;
        &__header {
            font-size: 22px;
        }
        &__wrapper {
            flex-direction: column;
            align-items: center;
            gap: 50px;
            margin-top: 20px;
        }
        &__item {
            width: 80vw;
            &:last-child {
                .advantages__text {
                    margin-top: 20px;
                }
            }
        }
    }
    .consulting {
        padding: 40px 0;
        &__descr {
            font-size: 18px;
        }
    }
    .title_consult {
        font-size: 30px;
        line-height: 40px;
        text-align: center;
    }
    .form {
        width: 90vw;
    }
    .carousel {
        .slick-prev, .slick-next {
            img {
                width: 20px;
                height: auto;
            }
        }
    }
    .catalog {
        &__tabs {
            flex-direction: column;
            align-items: center;
        }
    }
    .footer {
        &__addres {
            font-size: 15px;
            margin-bottom: 20px;
        }
        &__phone {
            font-size: 18px;
            margin-bottom: 20px;
        }
        &__links {
            width: 50vw;
        }
        &__link {
            width: 45px;
            height: 45px;
        }
    }
}