@import 'base/variables';
@import 'base/mixins';
* {
    font-family: 'Museo Sans', sans-serif;
}
.container {
    width: 940px;
    margin: auto;
}
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/button';
@import 'blocks/title';
@import 'blocks/advantages';
@import 'blocks/consulting';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/review';
@import 'blocks/footer';
@import 'blocks/modal';

@import 'base/media';