.advantages {
    min-height: 473px;
    padding: 70px 0 67px 0;
    color: $black;
    background-color: #F6F6F6;
    &__header {
        text-align: center;
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 277px;
    }
    &__subheader {
        font-weight: 700;
        font-size: 18px;
        line-height: 29px;
        text-align: center;
        margin-top: 35px;
    }
    &__text {
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        margin-top: 20px;
    }
}