.form {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    input {
        height: 54px;
        border-radius: 5px;
        border: none;
        font-weight: 500;
        font-size: 14px;
        padding: 0 20px;
    }
    
}