.header {
    display: flex;
    justify-content: space-between;
    &__logo {
        width: 250px;
        height: auto;
        img {
            width: 100%;
        }
    }
    &__official {
        width: 215px;
        text-align: center;
        font-weight: 500;
        font-size: 12px;
        line-height: 12px;
        span {
            font-size: 18px;
            line-height: 45px;
        }
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        a {
            color: #FFF;
            font-weight: 700;
            font-size: 18px;
            line-height: 18px;
            text-decoration: none;
            margin-bottom: 5px;
            &:hover {
                color: $red;
            }
        }
        
    }
}