.promo {
    min-height: 650px;
    background: url(../img/bg/promo_bg.jpg) left center/cover no-repeat;
    padding: 21px 0 93px 0;
    color: #FFF;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__header {
        font-weight: 700;
        font-size: 42px;
        line-height: 42px;
        text-transform: uppercase;
        margin-top: 91px;
    }
    &__subheader {
        font-weight: 500;
        font-size: 24px;
        line-height: 24px;
        text-transform: uppercase;
        margin-top: 17px;
    }
    &__icons-wrapper {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        margin-top: 60px;
    }
    &__icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 133px;
        text-align: center;
        img {
            height: 55px;
            width: auto;
        }
        &-text {
            margin-top: 20px;
        }
    }
    &__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    margin-top: 8px;
        &-link {
            color: #FFF;
            &:hover {
                color: $red;
            }
        }
    }
}